<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".application.FakeAcquirerApplication">
        <activity android:name=".feature.activity.FakeAcquirerFailedActivity" />
        <activity android:name=".feature.activity.FakeAcquirerSuccessActivity" />
        <activity android:name=".feature.activity.FakeAcquirerExceptionActivity" />
        <activity android:name=".feature.activity.FakeAcquirerThrowableActivity" />

        <activity
            android:name=".feature.activity.FakeAcquirerActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>