<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".application.FakeAcquirerApplication">
        <activity android:name=".feature.activity.FakeAcquirerActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerFailedActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerSuccessActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerExceptionActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerThrowableActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerWithoutReturnActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerLockedActivity" />
        <activity android:name=".feature.activity.FakeAcquirerTransactionsActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerCloseActivityAndSendCallbackActivity" />
        <activity android:name=".feature.activity.actions.FakeAcquirerGetTransactionByReferenceIdActivity" />
    </application>
</manifest>